<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenuOperario()">
        <ion-icon slot="icon-only" name="menu" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Espacio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-button class="boton" routerLink="/reserve-datos-operario">
    datos vehiculo
  </ion-button>
  <div id="contenedor-calendario">
    <img src="../../../assets/icon/plano.jpg" id="calendario">
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>©CarKing - 2022 - Mabel Diaz - Michael Muñoz - Felipe López</ion-title>
  </ion-toolbar>
</ion-footer>