<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenuAdmin()">
        <ion-icon slot="icon-only" name="menu" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-grid>
    <div id="contenedor-logo">
      <img src="../../../assets/icon/logo.png" id="logo">
    </div>
        


  
    <ion-row>
      <ion-col size-lg="6" size-sm="12">
        <ion-card>
          <ion-item>
            <ion-label>Carking</ion-label>
            <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          </ion-item>
      
          <ion-card-content>
            Te ayudamos a gestionar tu parqueadero de una forma más eficiente
            <img src="../../../assets/icon/img3.jpg">
          </ion-card-content>
          
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-item>
            <ion-label>¿Como realizar una reserva?</ion-label>
            <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          </ion-item>
      
          <ion-card-content>
            Reservar en Carking es muy facil, solo debes dar click en la opcion de reservar, seguir el paso a paso y registrar el pago del cliente.
            <img src="../../../assets/icon/car1.jpg">
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>©CarKing - 2022 - Mabel Diaz - Michael Muñoz - Felipe López</ion-title>
  </ion-toolbar>
</ion-footer>