<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenuUser()">
        <ion-icon slot="icon-only" name="menu" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>como llegar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <div id="contenedor-mapa">
    <img src="../../../assets/icon/mapa.png" id="mapa">
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>©CarKing - 2022 - Mabel Diaz - Michael Muñoz - Felipe López</ion-title>
  </ion-toolbar>
</ion-footer>