<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenuOperario()">
        <ion-icon slot="icon-only" name="menu" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../../assets/icon/car2.jpg">
  <ion-button class="boton" routerLink="/reserve-conf-operario">
    <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
  </ion-button>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>©CarKing - 2022 - Mabel Diaz - Michael Muñoz - Felipe López</ion-title>
  </ion-toolbar>
</ion-footer>